body { line-height: 1; }
body, div, span{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
{{BACKGROUND}}
div.quadro {position: absolute; background-position: center center; background-repeat: no-repeat; width: {{WIDTH}}px; height: {{HEIGTH}}px;}
